@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #f0f2f5;
  color: #757575;
  margin: 0 auto;
}

.custom-hr {
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
div.DraftEditor-root {
  padding: 0 12px;
}
